

body{
    background: hsl(233, 47%, 7%);
    color: aliceblue;
    font-size: 15px;
}
/* main  {
    
} */

.soft-violet {
    color: hsl(277, 64%, 61%);
}

.description{    
    margin-bottom: 60px
}

.col-rows h2 {    
    margin-bottom: 1px;
}

.col-rows p {
    margin-top: 5px;
}

main {
    background: hsl(244, 38%, 16%);
}



/* .card-img {
    
    
} */
