

body{
    background: hsl(233, 47%, 7%);
    color: aliceblue;
    font-size: 15px;   
}

strong {
    color: hsl(277, 64%, 61%);
}

p{    
    margin-bottom: 60px
}

h2 {    
    margin-bottom: 2px;
}

.card {
    background: hsl(244, 38%, 16%);
}
