

body{
    background: hsl(233, 47%, 7%);
    color: aliceblue;
    font-size: 15px;
}

main {
    background: hsl(244, 38%, 16%);
}

.soft-violet {
    color: hsl(277, 64%, 61%);
}

.description{    
    margin-bottom: 60px
}

/* Adding border layout to classes to see the layout of the page  */
/* .rows {
    border: 2px solid green;
} */

.left-col {
    border: 2px solid green;
}

/* Left column */
.left-col {
    padding: 30px 100px 30px 30px ;
}
/* Creating rows */
.create-rows {
    margin: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    padding: auto;
    
}
/* 9/8/2021 
Question: How can I add more space so the contents are further away from each other 
without the content creating another row in itself. 
How can I make the space that the content is in wider to do that ?
*/
.row {
    /* border: 2px solid green; */
    margin-right: 40px;        
}

.row h2 {    
    margin-bottom: 1px;
}

.row p {
    margin-top: 5px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Adding flexbox to class container */
.create-columns { 
    display: flex;
}



/* .card-img {
    
    
} */
